/* tags */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #444;
  transition: color 0.5s ease;
}

a:hover {
  color: #888;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  background: #59a9e9;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 80px;
  width: 100vw;
  padding: 10px;
  border-radius: 5px;
  margin-right: 20;
}

nav h1 {
  text-align: center;
  text-decoration: none;
  color: gray;
  transition: color 0.5s ease;
  display: block;
  padding: 10px;
}

p {
  font-size: 14px;
  margin: 0;
  color: white;
}

h3 {
  margin: 0.5em 0;
}

button {
  padding: 1em 2em;
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  letter-spacing: 0.1em;
}

button.remove {
  background-color: #ff0000;
  color: white;
}

button.remove:hover {
  background-color: #cc0000;
}

/* id */
#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #eee;
  color: gray;
  align-items: center;
  justify-content: space-evenly;
}

#app {
  height: 100%;
  width: 100%;
  background-color: #59a9e9;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main > div {
  width: 50%;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

form input {
  padding: 0.3em;
  margin: 0.5em 0;
  font-size: 0.5em;
}

form button {
  color: white;
  background-color: #59a9e9;
}

form button:hover {
  background-color: #59a9c2;
}

form button:disabled {
  background-color: #ccc;
}

/* classes */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #f0b9fd;
}

.error {
  padding: 1em 2em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: red;
  color: white;
  margin-top: 1em;
}

/* Chat */
#messages,
#channelList,
#inbox {
  overflow: auto;
}
#channelList li:hover,
#inbox li:hover,
kbd:hover,
.text-danger:hover {
  cursor: pointer;
}
li {
  list-style-type: none;
}
